@using Microsoft.AspNet.Identity

    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Native views", "ViewNative", "ViewSwitch", routeValues: new { url = Request.Url.AbsoluteUri }, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Angular views", "ViewAngular", "ViewSwitch", routeValues: new { url = Request.Url.AbsoluteUri }, htmlAttributes: new { id = "loginLink" })</li>
    </ul>

