
@{
    ViewBag.Title = "Ang_Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ang_Index</h2>

@section scripts{

    <script src="~/Scripts/angular/BlogEntryClient.js">
    </script>
}

<div ng-app="BlogEntryApp" class="container">
        <br />
        <br />
        <div class="row">
        <input type="text" placeholder="Search posts" ng-model="searchStudent" />
        <br />
        <div ng-controller="BlogEntryController">
            <table class="table">
                <tr ng-repeat="r in blogEntries | filter : searchStudent">
                    <td>
                        <div class="h1" ng-cloak>{{ r.Title }}</div>
                        <br/>
                        <div class="text-muted" ng-cloak>Posted on {{ r.ApprovedOn | jsDate | date:'medium' }}</div>
                        <em class="text-muted" ng-cloak>{{ r.ID }}</em>
                        <br/>
                        <br />
                        <div ng-cloak>{{ r.Content }}</div>
                        <br />
                        <a ng-href="BlogEntry/Edit/{{r.ID}}">Edit</a>
                        <a ng-href="BlogEntry/Details/{{r.ID}}">Details</a>
                        <a ng-href="BlogEntry/Delete/{{r.ID}}">Delete</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

